---
layout: base
---

{% assign letters = "a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z" | split: "," %}

{% for letter in letters %}
  {% for entry in site.data[letter] %}
    <ol>
      <a href="w/{{ entry.word | downcase }}.html">{{ entry.word }}</a>
    </ol>
  {% endfor %}
{% endfor %}