<h1>almond</h1>
<p><strong>Part of speech:</strong> noun</p>
<p><strong>Definition:</strong> a type of nut with a hard shell and a soft inner part</p>
<p><strong>Example sentence:</strong> She added some almonds to the salad.</p>
