<h1>apple</h1>
<p><strong>Part of speech:</strong> noun</p>
<p><strong>Definition:</strong> a round fruit with red or green skin and a white inside</p>
<p><strong>Example sentence:</strong> I ate an apple for breakfast.</p>
