---
layout: default
---
<h1>{{ page.title }}</h1>
<p><strong>Part of speech:</strong> {{ page.part_of_speech }}</p>
<p><strong>Definition:</strong> {{ page.definition }}</p>
<p><strong>Example sentence:</strong> {{ page.example_sentence }}</p>
